/.vs/Megus/v15/*.suo
/.vs/Megus/v15/Server/sqlite3/*.ide-shm
/.vs/Megus/v15/Server/sqlite3/*.ide-wal
/Megus.API/bin/Debug/netcoreapp2.1/*.dll
/Megus.API/bin/Debug/netcoreapp2.1/*.pdb
/Megus.API/obj/Debug/netcoreapp2.1/*.cache
/Megus.API/obj/Debug/netcoreapp2.1/*.dll
/Megus.API/obj/Debug/netcoreapp2.1/*.pdb
/Megus.API/obj/*.cache
/Megus.Client/bin/Debug/netcoreapp2.1/*.dll
/Megus.Client/bin/Debug/netcoreapp2.1/*.pdb
/Megus.Client/obj/Debug/netcoreapp2.1/*.cache
/Megus.Client/obj/Debug/netcoreapp2.1/*.dll
/Megus.Client/obj/Debug/netcoreapp2.1/*.pdb
/Megus.Client/obj/*.cache
/Megus.Common/bin/Debug/netcoreapp2.1/Megus.Common.deps.json
/Megus.Common/bin/Debug/netcoreapp2.1/Megus.Common.dll
/Megus.Common/bin/Debug/netcoreapp2.1/Megus.Common.pdb
/Megus.Common/bin/Release/netcoreapp2.1/Megus.Common.deps.json
/Megus.Common/bin/Release/netcoreapp2.1/Megus.Common.dll
/Megus.Common/bin/Release/netcoreapp2.1/Megus.Common.pdb
/Megus.Common/obj/Debug/netcoreapp2.1/Megus.Common.AssemblyInfo.cs
/Megus.Common/obj/Debug/netcoreapp2.1/Megus.Common.AssemblyInfoInputs.cache
/Megus.Common/obj/Debug/netcoreapp2.1/Megus.Common.assets.cache
/Megus.Common/obj/Debug/netcoreapp2.1/Megus.Common.csproj.CoreCompileInputs.cache
/Megus.Common/obj/Debug/netcoreapp2.1/Megus.Common.csproj.FileListAbsolute.txt
/Megus.Common/obj/Debug/netcoreapp2.1/Megus.Common.csprojAssemblyReference.cache
/Megus.Common/obj/Debug/netcoreapp2.1/Megus.Common.dll
/Megus.Common/obj/Debug/netcoreapp2.1/Megus.Common.pdb
/Megus.Common/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Megus.Common/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Megus.Common/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Megus.Common/obj/Megus.Common.csproj.nuget.cache
/Megus.Common/obj/Megus.Common.csproj.nuget.g.props
/Megus.Common/obj/Megus.Common.csproj.nuget.g.targets
/Megus.Common/obj/Release/netcoreapp2.1/Megus.Common.AssemblyInfo.cs
/Megus.Common/obj/Release/netcoreapp2.1/Megus.Common.AssemblyInfoInputs.cache
/Megus.Common/obj/Release/netcoreapp2.1/Megus.Common.assets.cache
/Megus.Common/obj/Release/netcoreapp2.1/Megus.Common.csproj.CoreCompileInputs.cache
/Megus.Common/obj/Release/netcoreapp2.1/Megus.Common.csproj.FileListAbsolute.txt
/Megus.Common/obj/Release/netcoreapp2.1/Megus.Common.csprojAssemblyReference.cache
/Megus.Common/obj/Release/netcoreapp2.1/Megus.Common.dll
/Megus.Common/obj/Release/netcoreapp2.1/Megus.Common.pdb
/Megus.Common/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Megus.Common/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Megus.Common/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Megus.Common/obj/project.assets.json
/Megus.Client/bin/Release/netcoreapp2.1/Megus.Client.Views.dll
/Megus.Client/bin/Release/netcoreapp2.1/Megus.Client.Views.pdb
/Megus.Client/bin/Release/netcoreapp2.1/Megus.Client.dll
/Megus.Client/bin/Release/netcoreapp2.1/Megus.Client.pdb
/Megus.Client/obj/Debug/netcoreapp2.1/UserSecretsAssemblyInfo.cs
/Megus.Client/obj/Release/netcoreapp2.1/Megus.Client.AssemblyInfoInputs.cache
/Megus.Client/obj/Release/netcoreapp2.1/Megus.Client.RazorAssemblyInfo.cache
/Megus.Client/obj/Release/netcoreapp2.1/Megus.Client.RazorCoreGenerate.cache
/Megus.Client/obj/Release/netcoreapp2.1/Megus.Client.RazorTargetAssemblyInfo.cache
/Megus.Client/obj/Release/netcoreapp2.1/Megus.Client.TagHelpers.input.cache
/Megus.Client/obj/Release/netcoreapp2.1/Megus.Client.TagHelpers.output.cache
/Megus.Client/obj/Release/netcoreapp2.1/Megus.Client.Views.dll
/Megus.Client/obj/Release/netcoreapp2.1/Megus.Client.Views.pdb
/Megus.Client/obj/Release/netcoreapp2.1/Megus.Client.assets.cache
/Megus.Client/obj/Release/netcoreapp2.1/Megus.Client.csproj.CoreCompileInputs.cache
/Megus.Client/obj/Release/netcoreapp2.1/Megus.Client.csprojAssemblyReference.cache
/Megus.Client/obj/Release/netcoreapp2.1/Megus.Client.dll
/Megus.Client/obj/Release/netcoreapp2.1/Megus.Client.pdb
/Megus.Client/obj/Release/netcoreapp2.1/PubTmp/Out/Megus.Client.Views.dll
/Megus.Client/obj/Release/netcoreapp2.1/PubTmp/Out/Megus.Client.Views.pdb
/Megus.Client/obj/Release/netcoreapp2.1/PubTmp/Out/Megus.Client.dll
/Megus.Client/obj/Release/netcoreapp2.1/PubTmp/Out/Megus.Client.pdb
/Megus.Client/obj/Release/netcoreapp2.1/UserSecretsAssemblyInfo.cs
/Megus.Client/Properties/PublishProfiles/megus - Web Deploy.pubxml.user
/Megus.Client/Megus.Client.csproj.user
/Megus.API/bin/Debug/netcoreapp2.1/Megus.API.runtimeconfig.json
/Megus.API/obj/Debug/netcoreapp2.1/Megus.API.AssemblyInfo.cs
/Megus.API/obj/Debug/netcoreapp2.1/Megus.API.RazorAssemblyInfo.cs
/Megus.API/obj/Debug/netcoreapp2.1/Megus.API.csproj.CopyComplete
/Megus.API/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Megus.API/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Megus.API/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Megus.API/obj/Megus.API.csproj.nuget.g.targets
/.vs/Megus/DesignTimeBuild/.dtbcache
/Megus.API/.vs/Megus.API1/DesignTimeBuild/.dtbcache
/Megus.API/.vs/Megus.API1/v15/.suo
/Megus.API/.vs/Megus.API1/v15/Server/sqlite3/db.lock
/Megus.API/.vs/Megus.API1/v15/Server/sqlite3/storage.ide
/Megus.API/.vs/Megus.API1/v15/Server/sqlite3/storage.ide-shm
/Megus.API/.vs/Megus.API1/v15/Server/sqlite3/storage.ide-wal
/Megus.API/bin/Release/netcoreapp2.1/Megus.API.deps.json
/Megus.API/bin/Release/netcoreapp2.1/Megus.API.dll
/Megus.API/bin/Release/netcoreapp2.1/Megus.API.pdb
/Megus.API/bin/Release/netcoreapp2.1/Megus.API.runtimeconfig.dev.json
/Megus.API/bin/Release/netcoreapp2.1/Megus.API.runtimeconfig.json
/Megus.API/bin/Release/netcoreapp2.1/Megus.Common.dll
/Megus.API/bin/Release/netcoreapp2.1/Megus.Common.pdb
/Megus.API/obj/Debug/netcoreapp2.1/Megus.API1.AssemblyInfo.cs
/Megus.API/obj/Debug/netcoreapp2.1/Megus.API1.RazorAssemblyInfo.cs
/Megus.API/obj/Debug/netcoreapp2.1/UserSecretsAssemblyInfo.cs
/Megus.API/obj/Megus.API.csproj.EntityFrameworkCore.targets
/Megus.API/obj/Megus.API1.csproj.nuget.g.props
/Megus.API/obj/Megus.API1.csproj.nuget.g.targets
/Megus.API/obj/Release/netcoreapp2.1/Megus.API.AssemblyInfo.cs
/Megus.API/obj/Release/netcoreapp2.1/Megus.API.AssemblyInfoInputs.cache
/Megus.API/obj/Release/netcoreapp2.1/Megus.API.RazorAssemblyInfo.cache
/Megus.API/obj/Release/netcoreapp2.1/Megus.API.RazorAssemblyInfo.cs
/Megus.API/obj/Release/netcoreapp2.1/Megus.API.RazorTargetAssemblyInfo.cache
/Megus.API/obj/Release/netcoreapp2.1/Megus.API.assets.cache
/Megus.API/obj/Release/netcoreapp2.1/Megus.API.csproj.CopyComplete
/Megus.API/obj/Release/netcoreapp2.1/Megus.API.csproj.CoreCompileInputs.cache
/Megus.API/obj/Release/netcoreapp2.1/Megus.API.csproj.FileListAbsolute.txt
/Megus.API/obj/Release/netcoreapp2.1/Megus.API.csprojAssemblyReference.cache
/Megus.API/obj/Release/netcoreapp2.1/Megus.API.dll
/Megus.API/obj/Release/netcoreapp2.1/Megus.API.pdb
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Megus.API.Parameters.xml
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Megus.API.SourceManifest.xml
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/Megus.API.deps.json
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/Megus.API.dll
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/Megus.API.pdb
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/Megus.API.runtimeconfig.json
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/Megus.Common.dll
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/Megus.Common.pdb
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.EntityFrameworkCore.Abstractions.dll
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.EntityFrameworkCore.Design.dll
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.EntityFrameworkCore.Relational.dll
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.EntityFrameworkCore.SqlServer.dll
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.EntityFrameworkCore.dll
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/Remotion.Linq.dll
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/System.Diagnostics.DiagnosticSource.dll
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/System.Interactive.Async.dll
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/appsettings.Development.json
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/appsettings.json
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/dotnet-ef.dll
/Megus.API/obj/Release/netcoreapp2.1/PubTmp/Out/web.config
/Megus.API/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Megus.API/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Megus.API/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Megus.API/obj/Release/netcoreapp2.1/UserSecretsAssemblyInfo.cs
/Megus.Client/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/img/logov3.png
/Megus.Client/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/img/logov4.png
/Megus.Client/obj/Release/netcoreapp2.1/PubTmp/Out/wwwroot/img/logov5.png
